# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "1913436853:AAGHzxoVTMYgRxQb2BRqCxw-lXUH9Ur7P8c"
GDRIVE_FOLDER_ID = "1ja68_cLzTiA4rJdQqUniInbC9t9HptGb"
OWNER_ID = 1093177072
DOWNLOAD_DIR = "/home/username/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 3
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "False"
TELEGRAM_API = 7432016
TELEGRAM_HASH = "30690ad747c3021c31bf819a8ed70c2f"
USE_SERVICE_ACCOUNTS = ""

# Optional config
AUTHORIZED_CHATS = "-1001587353772 -1001266284063" #Separated by space
IGNORE_PENDING_REQUESTS = ""
INDEX_URL = "https://edu.dipanshu.workers.dev/0:"
MEGA_KEY = ""
MEGA_USERNAME = ""
MEGA_PASSWORD = ""
BLOCK_MEGA_LINKS = "True"
SHORTENER = ""
SHORTENER_API = ""

# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
